@shrijulvenkatesh:registry=https://node-registry.bit.cloud/
//node-registry.bit.cloud/:_authToken="a1M0PTpqMjBWYmc9PV9aSnpqSno2QVFPQzI3V1VBcUZKb093PT0uQlNydCtqblBxUnJjU2x0U0gxUDVYOUJmVTNCV2FwUm9pQytKU3p3bnZOcWRaRkpyVm9hMS9uRnZCczhwR0F0UGhlaUtUT1I0UVIyQlFnSHludyswRUpxT0NyemdiSlJEMFR0cWZCMmJVZ3N3UlIvQmdDdzNTTmFseUZvZlV3WFZFNzVhS21Veks2Y0NLQVgrZXhNaDZsdkpRZ2t6cVl4djZ2c0IreXIxYVRQYVZlRmpQNXUyUEgwbjVTT2NwKzY2REtaSjJuOWRWVXRLcU5sQk9zbTNRM2R4Y3FJN2NKaHM0TkhoTFl4a1phVkdmQmtJWjdGOXc0UldZWEJyblQ0a0M2aWhvMkZsaUhKWlEyWnR6dVRVQm1XSnBYd1k3SStsbUFWQnFYYkpjelFsaStmYm9vaENHMUlvK1o4NnVTMk5PV3RXeVd1Nk53WEhUYktpZ2lUTmRkVVc3Y0ltRjdPZlBrTWErN3Z2RUlrVGZQNmFod1g3UHpiUkFzaGorTEJZQTZEYUFMa1g2V1MrNXRIdkpCUklUTmszR3ZZSSszVTkxWnU0dFBUd2IxclE0dllOUTdwMXR4ckxxTWlaQ2N6byszeGFLQVJpenEzd0ZGOVdpZHRoMldleGFWa3B4QTlvTEdLVE14WmxjeDA4cHpWYjlpemZVanozaFJGRkwrSWhHZFFlUEJEODRzczl4YzY1SnhBRTNwcGlRR01xOWM1bTE0d3NIS3dMaTA3U0N1V3U4VXdXTFJNbmY5SEFYZWRRWWdPa1hwMEFCK1ZBbDVtd0ViUDFzZ1BoQjRJd2ZFNjVodWljbTVJTi9jS3kwdUtkRGNYUkpuS05RczFXSEUzcytKVnVDRFRXWERXMWh6OXZTUWhOeUE9PQ=="
